POSTGRES_USER=YourUserName
POSTGRES_PASSWORD=YourSecretPassword
POSTGRES_DB=YourDbName
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=YourSuperSecretAdmin123!

JWT_SECRET_KEY=YourVeryLongSuperSecretKeyForJwtTokenGeneration
JWT_ISSUER=GameStoreApi
JWT_AUDIENCE=GameStoreClient
JWT_EXPIRE_MINUTES=60
